<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.emandi">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="E-Farm"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".admin_edit_item"
            android:parentActivityName=".admin_Listed_items"
            android:label="Edit Item"
            />
        <activity
            android:name=".admin_Listed_items"
            android:label="Listed Items"
            android:parentActivityName=".admin_home" />
        <activity
            android:name=".Admin_orders"
            android:label="All Orders"
            android:parentActivityName=".admin_home" />
        <activity
            android:name=".admin_home"
            android:label="Admin" />
        <activity
            android:name=".edit_profile"
            android:label="Edit Profile"
            android:parentActivityName=".cart_activity" />
        <activity
            android:name=".my_orders"
            android:label="My Orders"
            android:parentActivityName=".Profile_activity" />
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Profile_activity"
            android:label="My Profile"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".cart_activity"
            android:label="My Cart"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>